* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
}

body {
   background-color: rgb(173, 216, 230);
}

/* Navbar Section */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
       
    
}

nav {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.199);
    display: flex;
    justify-content: flex-end;
}

.home-link {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 500;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a { 
    height: 100%;
    padding: 0 10px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: white;
}

nav .home-link {
    margin-right: auto;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}


/* About Me Section */

.intro-container {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    top: 150px;
    
}

.introbox1 {
    justify-content: center;
    align-content: center;
}

p.intro-text {
  
    font-size: 60px;
    
}

img.photo1 {
    height: 500px;
}

section.aboutme {
    padding-top: 200px;
    text-align: center;
    font-size: 2rem;
    margin: 0px 200px;
    
}

h1.aboutmeheader, p.aboutme-text {
    background-color: rgba(17, 26, 17, 0.144);
    
}

h1.aboutmeheader {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

p.aboutme-text {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Experience Section */

img.photo2 {
    filter: drop-shadow( 0 0.75rem rgba(0, 0, 0, 0.411));
}

.experiences {
    
    padding-top: 200px;
    
}

.experience-container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    
    
}

.experience-grid-container {
    display: grid;
    align-items: center;
    font-size: 2rem;
    }
    
div.box1 {
    
    border: 4px solid black;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(160, 64, 184, 0.753);
    filter: drop-shadow(0px 25px 1rem rgba(0, 0, 0, 0.445));
}    

div.box2 {
    
    border: 4px solid black;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(160, 64, 184, 0.753);

    filter: drop-shadow(0px 25px 1rem rgba(0, 0, 0, 0.445));
}    

div.education, div.experience, div.project {
    text-align: center;
    font-size: 3rem;
    padding-top: 20px;
}

/* education section */

.educations {
    margin: 50px auto;
   display: grid;
   justify-items: center;
   align-items: center;
    padding-bottom: 100px;
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    padding: 1em;
    background-color: rgba(204, 110, 204, 0.719);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem black;
}

.scroller {
    max-width: 600px;
    
    padding: 20px 0px
    
}

.scroller__inner {
    display: flex;
    padding-block: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.scroller[data-animated="true"] {
        overflow: hidden;
        -webkit-mask: linear-gradient(
            90deg, 
            transparent, 
            white 20%, 
            white 80%, 
            transparent);
        mask: linear-gradient(
            90deg, 
            transparent, 
            white 20%, 
            white 80%, 
            transparent);
}

[data-animated="true"] .scroller__inner {
        flex-wrap: nowrap;
        animation: scroll 20s linear infinite;
        width: fit-content;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.projects {
    height: 500px;
}

.project-grid-container {
    display: grid;
   padding-top: 50px;
    grid-template-columns: auto;
   justify-items: center;

    margin: 0px 30px;
    
  

}

.project-box-1, 
.project-box-2, 
.project-box-3,
.project-box-4 {
    border: 4px solid black;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(160, 64, 184, 0.753);
    filter: drop-shadow(0px 25px 1rem rgba(0, 0, 0, 0.445));
    font-size: 1.5rem;
    text-align: center;
}


@media only screen and (max-width: 1024px) {

    .intro-container {
        flex-flow: column-reverse;
        
    }

    .intro {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    p.intro-text {
  
        font-size: 40px;
        text-align: center;

    }

    section.aboutme {
        text-align: left;
        margin: 0;
    }

    p.aboutme-text {
        font-size: 12px;
    }

    .home-link {
        font-size: 1.25rem;
    }

    .experience-container {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
            margin: 10% 10%;
               
    }

    div.box1 {
        margin: 50px 0px;
    }

    .box01 {
        
        text-align: center;
    }

    img.photo2 {
       
        text-align: center;
        
    }

    .experiences {
    
        padding-top: 100px;
        
    }

    

} 

@media (max-width: 768px) {
    
    .links-container a {
       
        font-size: 0.75rem;
    }

    img.photo1 {
        height: 300px;
    }

    p.intro-text {
        font-size: 1.5rem;
    }

    img.photo2 {
       
        height: 250px;
        
    }

    section.aboutme {
        padding-top: 100px;
        text-align: center;
        font-size: 2rem;
        margin: 0px 50px;
        
    }

    .experiences {
    
        padding-top: 100px;
        
    }

    .project-box-1 {
    border: 4px solid black;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(160, 64, 184, 0.753);
    filter: drop-shadow(0px 25px 1rem rgba(0, 0, 0, 0.445));
    font-size: 1rem;
    text-align: center;
    
}
    

}

@media (max-width: 425px) {
    
    p.intro-text {
        font-size: 1.5rem;
    }

    img.photo1 {
        height: 250px;
    }

    .links-container {
        
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 200px;
        background-color: rgba(173, 216, 230, 0.507);
        transition: 0.75s ease-out;
    }

    nav a, .home-link {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
    }

    .open-sidebar-button, .close-sidebar-button {
        
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    img.photo2 {
       
        height: 150px;
        
    }

    .experiences {
    
        padding-top: 10px;
        
    }
    

    .box1, .box2 {
        font-size: 1rem;
    }

    div.experience, div.education, div.project {
        font-size: 1rem;
    }

    .scroller {
        max-width: 300px;
        padding: 20px 0px
        
    }

    

   }
